<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password with otp page</title>
    {{>head}}
    <style>
        .content {
            height: 100vh;
        }

        nav {
            background: rgba(0, 0, 0, 0.7);
            color #fff;
        }

        nav .menu a:first-child {
            color: #fff;
        }

        nav .menu a:hover {
            color: #00b894;
        }
    </style>

</head>

<body>
    {{>header}}
    {{>alert_response}}


    <div class="login content">
        <div class="container mt-5">
            <h3 style="text-align: center;" class="mb-2 mt-3">Forgot Password: </h3>
            <form method="post" action="/user/forgot-password">
                <!--Email-->
                <div class="form-group">
                    <label for="name">Email: </label>
                    <input type="email" class="form-control" placeholder="email" name="email" required />
                </div>

                <!--Render page-->
                <input type="hidden" name="Renderpage" value="forgot_password">

                <!--Login-->
                <input type="submit" class="btn btn-success btn-block mt-3" value="Login" name="btn_forgot_password" />
            </form>
        </div>
    </div>



    {{>footer}}
</body>

</html>