<footer class="page-footer bg-dark text-white mt-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">

                <h2>About Us</h2>
                <p>Founded in 2023, DriveOnRent is a trailblazing platform that empowers travelers to explore the world
                    with ease. Our modern platform connects adventurers with an extensive selection of vehicles, making
                    travel hassle-free and eco-friendly. Choose us for an unforgettable journey with safety and
                    satisfaction guaranteed!</p>

                <ul class="list-group list-group-horizontal" style="list-style: none;">
                    <li><a href="https://facebook.com" class="a-link"><i class="fa fa-facebook"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://instagram.com" class="a-link"><i class="fa fa-instagram"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com" class="a-link"><i class="fa fa-twitter"
                                aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com" class="a-link"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#about" class="a-link">About</a></li>
                    <li><a href="#contact" class="a-link">Contact</a></li>
                    <li><a href="#services" class="a-link">Services</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2>Contact</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>DriveOnRent USA Inc.<br>
                            1234 Drive Street,<br>
                            Citytown, State 12345,<br>
                            USA</span>
                    </li>

                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p>012-345-6789<br>
                            012-345-6789
                        </p>
                    </li>

                    <li>
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <p><a href="mailto:business.driveonrent@gmail.com"
                                style="text-decoration: none; color: white;">business.driveonrent@gmail.com</a></p>
                    </li>
                </ul>
            </div>

            <div class="footer-copyright text-center">&copy; 2023 Copyright: DriveOnRent.com</div>
        </div>
    </div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>