<nav class="navbar navbar-dark  navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DriveOnRent</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/">Admin Panel</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/item-list">Prices</a>
                </li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>

            <!-- Wrap the last two items in a div with "ms-auto" class to align them at the end -->
            <div class="ms-auto">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/my-orders"><i class="fa fa-shopping-cart"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>